.general__main {
    width: 40%;
}

.general__title{
    text-wrap: wrap;
}

.general__consult {
    margin-top: 20px;
}

.general__picture {
    padding-right: 20px;
}

.general__picture-background {
    top: 50%;
    translate: 0 -50%;
}

@media (max-width: 1400px) {
    .general__main {
        width: 45%;
    }
    .general__title{
        font-size: 40px;
    }
}

@media (max-width: 1200px) {
    .general__main {
        width: 45%;
        padding: 60px 0 60px 40px;
    }
    .general__text {
        width: 120%;
    }
    .general__title{
        font-size: 36px;
    }
    .general__picture-background {
        width: 95%;
    }
}

@media (max-width: 992px) {
    .general__main {
        width: 55%;
    }
    .general__text {
        width: 100%;
    }
    .general__title {
        font-size: 30px;
    }
    .general__picture {
        padding-right: 0;
    }
}

@media (max-width: 768px) {
    .general__main {
        width: 60%;
        padding: 40px 0 40px 20px;
    }
    .general__title{
        font-size: 26px;
    }
    .general__picture {
        height: 90%;
    }
}

@media (max-width: 576px) {
    .general__main {
        width: 100%;
        padding: 30px 20px 0 20px;
    }
    .general__picture {
        width: auto;
        align-self: center;
        padding: 0 30px 0 50px;
    }
}