.general__picture {
    padding-right: 60px;
}

@media (max-width: 1200px) {
    .general__picture {
        width: 55%;
    }
}

@media (max-width: 992px) {
    .general__picture {
        width: 50%;
        padding-right: 30px;
    }
    .general__main {
        padding-bottom: 100px;
    }
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
    .general__picture {
        width: auto;
        align-self: end;
        padding: 0 30px;
    }
    .general__main {
        padding-bottom: 10px;
    }
}

@media (max-width: 400px) {
}