.general__main {
    width: 50%;
    padding: 60px;
    padding-right: 0;
}

.general__title{
    text-wrap: wrap;
}

.general__consult {
    margin-top: 40px;
}

.general__picture-image {
    background-image: url("../../../images/general/PictureBackground2.png");
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 1400px) {
    .general__title{
        font-size: 40px;
    }
}

@media (max-width: 1200px) {
    .general__picture {
        top: 0;
        padding: 30px;
    }
    .general__main {
        padding: 30px;
    }
}

@media (max-width: 992px) {
    .general__main {
        width: 100%;
        padding: 20px;
    }
    .general__title {
        font-size: 36px;
        margin-bottom: 40px;
    }
    .general__text {
        width: 50%;
    }
    .general__picture {
        height: 73%;
        top: unset;
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .general__title {
        font-size: 30px;
    }
    .general__picture {
        height: 65%;
    }
}

@media (max-width: 576px) {
    .general__main {
        padding-bottom: 0;
    }
    .general__title {
        margin-bottom: 20px;
    }
    .general__text {
        width: 100%;
    }
    .general__picture {
        width: auto;
        align-self: center;
    }
    .general__consult {
        margin-top: 20px;
    }
}

@media (max-width: 400px) {
    .general__main {
        padding-right: 10px;
    }
}