body {
    font-family: Inter, sans-serif;
}

.text-left {
    text-align: left;
}

.font-size-16 {
    font-size: 16px;
}

.font-weight-400 {
    font-weight: 400;
}

.line-height-19 {
    line-height: 19px;
}

.text-white {
    color: #FDFDFD;
}

.text-light-grey {
    color: #E8E9EA;
}

.bg-light-grey {
    background-color: #E8E9EA;
}

.bg-dark-blue {
    background-color: #1E2F49;
}

.bg-yellow {
    background-color: #F8B514;
}