/* .header {
    width: 100%;
    height: 150px;
    padding-top: 25px;
    background: #E8E9EA;
}

.time {
    width: 100%;
    height: 20px;
}

.header__address {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
}

.header__wrapper {
    width: 100%;
    height: 87px;
    padding: 15px;
    background: #1E2F49;
    border-radius: 20px;
}

.logo {
    width: 60px;
    height: 40px;
    margin: 0;
}

.logo__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.nav {
    width: 431px;
    height: 19px;
}

.nav__text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    color: #FDFDFD;
}

/* .header_contacts {
    width: 181px;
    height: 39px;
} */

/* .header__phone {
    width: 22px;
    height: 22px;
} *

.header__phoneNumber {
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 31px;
    text-align: left;
    color: #FDFDFD;
}

.header__call {
    font-family: Inter;
    font-size: 8px;
    font-weight: 400;
    line-height: 14.52px;
    text-align: left;
    color: #E8E9EA;
}

.header__socialMedia {
    list-style: none;
}

.social__btn {
    border: 1px solid #838F9F;
}

.social__icon {
    width: 20px;
    height: 20px;
    border-radius: 6px;
    border: 1px solid #838F9F;
}

.social__img {
    width: 10px;
    height: 10px;
}

.consultation {
    height: 20px;
    text-align: center;
    border-radius: 6px;
    background: #F8B514;
}

.consultation__text {
    font-family: Inter;
    /* font-size: 16px; *
    font-size: 12px;
    font-weight: 400;
    line-height: 19.36px;
    color: #FDFDFD;
}


@media screen and (max-width:390px) {

    .header__phoneNumber {
        font-size: 10px;
    }

    .header__call {
        font-size: 8px;
        font-weight: 400;
        line-height: 14.52px;
        text-align: left;
        color: #E8E9EA;
    }

    .header__socialMedia {
        list-style: none;
    }

    .social__btn {
        border: 1px solid #838F9F;
    }

    .social__icon {
        width: 20px;
        height: 20px;
        border-radius: 6px;
        border: 1px solid #838F9F;
    }

    .social__img {

        width: 10px;
        height: 10px;
    }

    .consultation {
        height: 20px;
        text-align: center;
        border-radius: 6px;
        background: #F8B514;
    }

    .consultation__text {
        font-size: 12px;
        font-weight: 400;
        line-height: 19.36px;
        color: #FDFDFD;
    }
}

@media (max-width: 576px) {
    .header__phoneNumber {
        font-size: 12px!important;
    }

    .header__call {
        font-size: 18px!important;
    }
}

@media (max-width: 768px) {
    .header__phone {
        width: 20px;
        height: 20px;
    }

    .header__phoneNumber {
        font-size: 12px;
    }

    .header__call {
        font-size: 10px;
    }

    .header__socialMedia {
        width: auto;
        height: 44px;
    }

    .social__btn {
        border: 1px solid #838F9F;
    }

    .social__icon {
        width: 30px;
        height: 30px;
    }

    .social__img {
        width: 20px;
        height: 20px;
    }

    .consultation {
        width: auto;
        height: 30px;
    }

    .consultation__text {
        font-size: 12px;
    }
}

@media (max-width: 992px) {
    .time {
        display: none;
    }

    .header_contacts {
        width: auto;
        height: 39px;
    }

    .header__phone {
        width: 22px;
        height: 22px;
    }

    .header__phoneNumber {
        font-size: 10px;
    }

    .header__call {
        font-size: 12px;
    }


}

@media (max-width: 1200px) {
    .time {
        display: none;
    }

    .header_contacts {
        width: auto;
        height: 39px;
    }

    .header__phone {
        width: 22px;
        height: 22px;
    }

    .header__phoneNumber {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 31px;
        text-align: left;
        color: #FDFDFD;
    }

    .header__call {
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 14.52px;
        text-align: left;
        color: #E8E9EA;
    }

    .consultation {
        width: 200px;
        height: 44px;
    }

    .header__socialMedia {
        width: 308px;
        height: 44px;
        list-style: none;
    }

    .social__icon {
        width: 44px;
        height: 44px;
        border-radius: 6px;
        border: 1px solid #838F9F;
    }

    .social__img {
        width: 28.71px;
        height: 28.71px;
    }
}

@media (min-width: 1200px) {
    .header_contacts {
        width: 181px;
        height: 39px;
    }

    .header__phone {
        width: 22px;
        height: 22px;
    }

    .header__phoneNumber {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 31px;
        text-align: left;
        color: #FDFDFD;
    }

    .header__call {
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 14.52px;
        text-align: left;
        color: #E8E9EA;
    }

    .header__socialMedia {
        width: 308px;
        height: 44px;
        list-style: none;
    }

    .social__btn {
        border: 1px solid #838F9F;
    }

    .social__icon {
        width: 44px;
        height: 44px;
        border-radius: 6px;
        border: 1px solid #838F9F;
    }

    .social__img {
        width: 28.71px;
        height: 28.71px;
    }

    .consultation {
        width: 200px;
        height: 44px;
        text-align: center;
        border-radius: 6px;
        background: #F8B514;
    }

    .consultation__text {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.36px;
        color: #FDFDFD;
    }
} */

/* @media (max-width: 1400px) {
   
} */

/* Стили по умолчанию для больших экранов */
.header {
    width: 100%;
    height: 150px;
    padding-top: 25px;
    background: #E8E9EA;
}

.time {
    width: 100%;
    height: 20px;
}

.header__address {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
}

.header__wrapper {
    width: 100%;
    height: 87px;
    padding: 15px;
    background: #1E2F49;
    border-radius: 20px;
}

.logo {
    width: 60px;
    height: 40px;
    margin: 0;
}

.logo__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.nav {
    width: 431px;
    height: 19px;
}

.nav__text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    color: #FDFDFD;
}

.header__phoneNumber {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 31px;
    text-align: left;
    color: #FDFDFD;
}

.header__call {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    text-align: left;
    color: #E8E9EA;
}

.header__socialMedia {
    list-style: none;
}

.social__btn {
    border: 1px solid #838F9F;
}

.social__icon {
    width: 44px;
    height: 44px;
    border-radius: 6px;
    border: 1px solid #838F9F;
}

.social__img {
    width: 28.71px;
    height: 28.71px;
}

.consultation {
    width: 200px;
    height: 44px;
    text-align: center;
    border-radius: 6px;
    background: #F8B514;
}

.consultation__text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    color: #FDFDFD;
}



@media (max-width: 1400px) {
    .header__address {
        font-size: 10px;
        line-height: 1px;
    }

}

/* Для экранов шириной до 1200px */
@media (max-width: 1200px) {

    .header__phoneNumber {
        font-size: 16px;
    }

    .header__call {
        font-size: 12px;
    }

    .consultation {
        width: 200px;
        height: 44px;
    }

    .header__socialMedia {
        width: 308px;
        height: 44px;
        list-style: none;
    }

    .social__icon {
        width: 44px;
        height: 44px;
    }

    .social__img {
        width: 28.71px;
        height: 28.71px;
    }
}

/* Для экранов шириной до 992px */
@media (max-width: 992px) {
    .time {
        display: none;
    }

    .header_contacts {
        width: auto;
        height: 39px;
    }

    .header__phoneNumber {
        font-size: 10px;
    }

    .header__call {
        font-size: 12px;
    }
}

/* Для экранов шириной до 768px */
@media (max-width: 768px) {
    .header__phoneNumber {
        font-size: 12px;
    }

    .header__call {
        font-size: 10px;
    }

    .header__socialMedia {
        width: 200px;
        height: 40px;
        list-style: none;
    }


    .social__icon {
        width: 40px;
        height: 40px;
    }

    .social__img {
        width: 20px;
        height: 20px;
    }

    .consultation {
        width: 100%;
        height: 40px;
        text-align: center;
        border-radius: 6px;
        background: #F8B514;
    }

    .consultation__text {
        font-size: 14px;
    }

}

/* Для экранов шириной до 576px */
@media (max-width: 576px) {
    .header__phoneNumber {
        font-size: 12px;
    }

    .header__call {
        font-size: 18px;
    }

    .header__socialMedia {
        width: 200px;
        height: 30px;
        list-style: none;
    }


    .social__icon {
        width: 30px;
        height: 30px;
    }

    .social__img {
        width: 15px;
        height: 15px;
    }

    .consultation {
        min-width: 120px;
        height: 30px;
        text-align: center;
        border-radius: 6px;
        background: #F8B514;
    }

    .consultation__text {
        font-size: 10px;
    }
}

/* Для экранов шириной до 390px */
@media (max-width: 390px) {
    .header__phoneNumber {
        font-size: 10px;
    }

    .header__call {
        font-size: 8px;
        font-weight: 400;
        line-height: 14.52px;
        text-align: left;
        color: #E8E9EA;
    }

    .header__socialMedia {
        list-style: none;
    }

    .social__btn {
        border: 1px solid #838F9F;
    }

    .header__socialMedia {
        width: 100%;
        height: 30px;
        list-style: none;
    }


    .social__icon {
        width: 20px;
        height: 20px;
    }

    .social__img {
        width: 10px;
        height: 10px;
    }

    .consultation {
        max-width: 100px;
        height: 30px;
        text-align: center;
        border-radius: 6px;
        background: #F8B514;
    }

    .consultation__text {
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        color: #FDFDFD;
    }
}
