.bankrotstvo-services {
    position: relative;
    height: 450px;
    background: #F3F3F3;
    border-radius: 20px;
}

.bankrotstvo-services__banner {
    height: 100%;
}

.bankrotstvo-services__content {
    z-index: 100;
}

.bankrotstvo-services__title-container {
    min-width: 450px;
    z-index: 100;
}

.bankrotstvo-services__title {
    font-family: Inter;
    font-size: 46px;
    font-weight: 500;
    line-height: 50.6px;
    text-align: left;
    color: #1E2F49;
}


.bankrotstvo-services__list-icon {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #1E2F49;
}

.bankrotstvo-services__description {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    color: #535353;
}

.bankrotstvo-services__testimonials {
    height: 200px;
    position: relative;
    border-radius: 20px;
    background: #FDFDFD;
}

.bankrotstvo-services__testimonial-count {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    color: #535353;
}

.bankrotstvo-services__testimonial-count_bold {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
    text-align: left;
    color: #303030;
}

.bankrotstvo-services__testimonial-list {
    border-radius: 20px;
    list-style: none;
}

.bankrotstvo-services__testimonial-item {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-left: -15px;
    overflow: hidden;
}

.bankrotstvo-services__testimonial-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bankrotstvo-services__icon-plus {
    width: 30px;
    height: 30px;
}

.bankrotstvo-services__testimonial-icon-plus {
    width: 55px;
    height: 55px;
    border: 2px;
    border-radius: 50%;
    overflow: hidden;
    background: #1E2F49;
}

.bankrotstvo-services__testimonial-icon-heart {
    width: 60px;
    height: 60px;
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 10px;
    overflow: hidden;
    background: #FDFDFD;
}

.bankrotstvo-services__icon-heart {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.bankrotstvo-services__image-container {
    position: relative;
    height: 100%;
}

.bankrotstvo-services__main-image {
    position: absolute;
    bottom: 0;
    height: 500px;
    z-index: 100;
}

.bankrotstvo-services_img {
    width: 100%;
    height: 100%;
}

.bankrotstvo-services__background-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 490px;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.bankrotstvo-services__consultation-button {
    width: 320px;
    height: 60px;
    border-radius: 300px;
    border: 2px solid #FDFDFD;
    background: #1E2F49;
    text-decoration: none;
}

.bankrotstvo-services__consultation-button-text {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: left;
    color: #FDFDFD;
}

.bankrotstvo-services__arrow {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.bankrotstvo-services__arrow_blue {
 
    background: #FDFDFD;
}

@media (max-width: 1200px) {
    .bankrotstvo-services {
        height: auto !important;
    }

    .bankrotstvo-services__image-container {
        width: 100%;
    }


    .bankrotstvo-services__main-image {
        height: 400px;
    }
}

@media (max-width: 992px) {
    .bankrotstvo-services {
        height: 450px;
    }

    .bankrotstvo-services__main-image {
        height: 300px;
    }

    .bankrotstvo-services__background-image {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .bankrotstvo-services__main-image {
        height: 150px;
    }
}

@media (max-width: 576px) {
    .bankrotstvo-services__main-image {
        height: 150px;
    }

    .bankrotstvo-services__title-container {
        min-width: 350px;
    }

    .bankrotstvo-services__testimonial-item {
        width: 40px;
        height: 40px;
    }

    .bankrotstvo-services__testimonials {
        height: 150px;
    }

    .bankrotstvo-services__testimonial-icon-heart {
        width: 60px;
        height: 60px;
        top: -20px;
        right: -50px;
    }

}

@media (max-width: 390px) {
    .bankrotstvo-services__title {
        font-size: 30px;
        line-height: 35px;

    }

    
    .bankrotstvo-services__main-image {
        height: 100px;
    }

    .bankrotstvo-services__title-container {
        min-width: 250px;
    }

    .bankrotstvo-services__testimonial-item {
        width: 30px;
        height: 30px;
    }

    .bankrotstvo-services__testimonials {
        height: auto;
    }

    .bankrotstvo-services__testimonial-icon-heart {
        width: 40px;
        height: 40px;
        top: -20px;
        right: -50px;
    }

    .bankrotstvo-services__icon-heart {
        width: 20px;
        height: 20px;
    }

    .bankrotstvo-services__icon-plus {
        width: 10px;
        height: 10px;
    }

    .bankrotstvo-services__testimonial-count_bold {
        font-size: 12px;
        line-height: 16px;
    }

    .bankrotstvo-services__testimonial-count {
        font-size: 10px;
        line-height: 14px;
    }

    
    .bankrotstvo-services__consultation-button {
        width: 260px;
        height: 60px;
    }

    .bankrotstvo-services__consultation-button-text {
        font-size: 14px;
        line-height: 16px;
    }
    
}
