.mission {}

.mission__title {
    font-family: Inter;
    font-size: 40px;
    font-weight: 500;
    line-height: 48.41px;
    text-align: left;
}

.mission__subtitle {
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    line-height: 26.63px;
    text-align: left;
}

.mission__subtitle_white {
    color: #FDFDFD;
}

.mission__description {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px;
    text-align: left;
}

.mission__description_bold {
    font-weight: 600;
    font-style: italic;
}

.mission__description_white {
    color: #FDFDFD;
}

.mission__content {}

.mission__section {}

.mission__text-block {
    position: relative;
    /* width: 100%; */
    height: 235px;
    border-radius: 20px;
}

.mission__text-block_light {
    background: #F3F7FD;
}


.mission__text-block_dark {
    background: #1E2F49;
}

.mission__image-block {
    width: calc(50vw - 1rem); /* Пробелы вокруг "-" */
    height: 510px;
    border-radius: 20px;
    background: #F3F7FD;
}

.mission__ourAim{
width: calc(50vw - 1rem);
}

.mission__image-block_icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 41px;
    height: 41px;
    background: #FDFDFD;
    border-radius: 50%;
}

.mission__image_logo{
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.mission__image {
    width: 50%;
    height: 50%;
    object-fit: contain;
}

.mission__list {
    list-style: none;
}

.mission__list-item {
    position: relative;
}

.mission__service {
    /* width: 260px; */
    width: 100%;
    height: 225px;
    border-radius: 20px;
}

.mission__service_dark {
    background: #1E2F49;
}

.mission__service_light {
    background: #FBF2DC;
}

.mission__service-description {
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    line-height: 26.63px;
    text-align: left;
    color: #FDFDFD;
}

.mission__service-description_white {
    color: #FDFDFD;
}

.mission__service-description_black {
    color: #303030;
}


.mission__service-number {
    position: absolute;
    top: -40px;
    right: 0;
    width: 92px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #FDFDFD;
}

.mission__number {
    margin: 0;
    font-family: Inter;
    font-size: 40px;
    font-weight: 500;
    line-height: 52px;
    text-align: left;
    color: #1E2F49;
}

.mission__subservice {}

@media (max-width: 1400px) {}

@media (max-width: 1200px) {
    .mission__list-item {
        flex: 0 0 48%; /* Карточки занимают 50% ширины родителя */
    }
    .mission__service {
       width: 100%;
    }

    .mission__image-block ,.mission__ourAim{
        width: 100%;
        }
        
}
 
@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {
    .mission__text-block {
        height: auto;
    }
}

@media (max-width: 390px) {
    
.mission__image-block {
    height: 235px;

}
}