.legal-services {
    border: 1px solid #535353;
    border-radius: 16px;
}

.legal-services__banner {}

.legal-services__content {}

.legal-services__title-container {}

.legal-services__title {
    font-family: Inter;
    font-size: 46px;
    font-weight: 500;
    line-height: 50.6px;
    text-align: left;
    color: #1E2F49;
}

.legal-services__list {
    list-style: none;
}

.bankrotstvo-services__list-icon {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #1E2F49;
}


.legal-services__item {}

.legal-services__text {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    color: #535353;
}
.legal-services__link {
    width: 320px;
    height: 60px;
    border-radius: 300px;
    background: #193867;
}

/* .legal-services__link {
    width: 320px;
    height: 60px;
    border-radius: 300px;
    background: #193867;
} */

.legal-services__button-text {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: left;
    color: #FDFDFD;
}

.legal-services__arrow-container {
    width: 48px;
    height: 48px;
    background: #FDFDFD;
    border-radius: 50%;
}

.legal-services__image-container {
    position: relative;
}


.legal-services__image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.legal-services__main-image {
    z-index: 100;
}

.legal-services__background-image {
    position: absolute;
    right: 0;
    top: 100px;
    width: 431px;
    height: 284px;
    opacity: 0.3px;
    z-index: 0;
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {
    .legal-services__title {
        font-size: 36px;
        line-height: 40px;
    }

}

@media (max-width: 768px) {
    .legal-services__banner{
        overflow: hidden;
    }
    .legal-services__background-image {
        top: 0;
        right: 50%;
        width: 100%;
        height: 100%;
    }

    .legal-services__main-image{
        position: absolute;
        top: 0;
    }

    .legal-services__link {
        width: 100%;
        height: 60px;
    }

}

@media (max-width: 576px) {}

@media (max-width: 390px) {}